{% extends 'base.html' %}
{% load static %}
{% block title %}页面不存{% endblock %}
{% block css %}
	<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
	<link href="{% static 'bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
          <h1>非常抱歉，页面不存</h1>
          <p>没有查询到您的请求！</p>
          <p><a class="btn btn-primary btn-lg" href="/chongzhi/" role="button">返回充值界面</a></p>
        </div>


    </div> <!-- /container -->
{% endblock %}