{% extends 'base2.html' %}
{% load static %}
{% block title %}确认订单{% endblock %}
{% block css %}
	<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
	<link href="{% static 'bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>自动转跳PaypPal中，请勿操作！</h1>
            <p>自动提交订单信息中，若出现网络问题请点击下面的按钮手动提交订单。</p>
        </div>
        <div align="center">
            <form id="pay_form" name="pay_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                {{form.render}}
         
            </form>
            <script language="javascript">document.pay_form.submit();</script>
        </div>
	</div> <!-- /container -->
{% endblock %}